body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.title {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

#game > * {
  margin: auto;
  display: block;
}
